dua-adhkar-with-repeat/flows.json
[{"id":"inject_start","type":"inject","z":"75f8ee176b2ac9e5","name":"Manual Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":100,"wires":[["14582d930c909985"]]},{"id":"process_playlist","type":"function","z":"75f8ee176b2ac9e5","name":"Process Entry","func":"if (msg.currentIndex >= msg.playlist.length) {\n    node.log('Playlist complete');\n    return null;\n}\nlet entry = msg.playlist[msg.currentIndex];\nmsg.payload = `find \"${entry.folder}\" -type f -iname \"*${entry.pattern}*\"`;\nreturn msg;","outputs":1,"x":400,"y":80,"wires":[["exec_find"]]},{"id":"exec_find","type":"exec","z":"75f8ee176b2ac9e5","command":"","addpay":"payload","append":"","useSpawn":"false","name":"Find Files","x":580,"y":60,"wires":[["pick_random_file"],[],[]]},{"id":"pick_random_file","type":"function","z":"75f8ee176b2ac9e5","name":"Pick Random File","func":"let files = msg.payload.trim().split(\"\\n\");\nif (files.length === 0) {\n    node.warn(`No files found for pattern: ${msg.playlist[msg.currentIndex].pattern}`);\n    msg.currentIndex += 1;\n    return msg;\n}\nlet selected = files[Math.floor(Math.random() * files.length)];\nmsg.audio = {\n    fullPath: selected,\n    mediaSource: selected.replace(\"/media\", \"media-source://media_source/local\"),\n    ffprobeCmd: `ffprobe -i \"${selected}\" -show_entries format=duration -v quiet -of csv=\"p=0\"`\n};\nmsg.payload = msg.audio.ffprobeCmd;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":60,"wires":[["exec_ffprobe"]]},{"id":"exec_ffprobe","type":"exec","z":"75f8ee176b2ac9e5","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"name":"Get Duration","x":610,"y":140,"wires":[["set_delay"],[],[]]},{"id":"set_delay","type":"function","z":"75f8ee176b2ac9e5","name":"Set Delay & Play","func":"let dur = Math.ceil(parseFloat(msg.payload.trim()));\nmsg.delay = (dur + 3) * 1000;\nmsg.play_data = {\n    domain: \"media_player\",\n    service: \"play_media\",\n    data: {\n        entity_id: \"media_player.your_player\",\n        media_content_id: msg.audio.mediaSource,\n        media_content_type: \"music\"\n    }\n};\nreturn msg;","outputs":1,"x":450,"y":240,"wires":[["call_service","69b3db92521c6860"]]},{"id":"call_service","type":"api-call-service","z":"75f8ee176b2ac9e5","name":"Play Audio","server":"6b1110b5.183a4","version":7,"debugenabled":false,"action":"media_player.play_media","floorId":[],"areaId":[],"deviceId":[],"entityId":["media_player.bedroom_1"],"labelId":[],"data":"msg.play_data.data","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"media_player","service":"play_media","x":670,"y":200,"wires":[[]]},{"id":"next_item","type":"function","z":"75f8ee176b2ac9e5","name":"Next Item","func":"let item = msg.playlist[msg.currentIndex];\nif (global.get('input_boolean.azan_playlist_stop') === 'on') return null;\n\nitem.currentRepeat += 1;\n\nif (item.currentRepeat < item.repeat) {\n    // Repeat current item\n    return msg;\n} else {\n    // Reset repeat counter and move to next item\n    item.currentRepeat = 0;\n    msg.currentIndex += 1;\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["process_playlist"]]},{"id":"69b3db92521c6860","type":"delay","z":"75f8ee176b2ac9e5","name":"Wait for Duration","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":160,"wires":[["next_item"]]},{"id":"14582d930c909985","type":"function","z":"75f8ee176b2ac9e5","name":"List to Repeat","func":"msg.playlist = [\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Fatiha\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"Ayatul Kursi\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"Last 3 verse of Sura Baqarah\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Mulk\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Kafirun\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Ikhlas\", repeat: 3, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Falaq\", repeat: 3, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Quran\", pattern: \"Nas\", repeat: 3, currentRepeat: 0 },\n    // 33x tasbih (Subhan’Allah), 33x tahmid (Alhamdullilah), 34x takbir (Allahu’Akbar)\n    { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"Woke Up Suddenly At Night\", repeat: 1, currentRepeat: 0 },\n    { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"dua of sleep\", repeat: 1, currentRepeat: 0 },\n];\nmsg.currentIndex = 0;\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":40,"wires":[["process_playlist"]]},{"id":"cd59bf1999d03ac3","type":"server-state-changed","z":"75f8ee176b2ac9e5","name":"Night Adhkar button Listener","server":"7bcc703.228999","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.night_adhkar"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":40,"wires":[["14582d930c909985"]]},{"id":"6b1110b5.183a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"7bcc703.228999","type":"server","name":"Home Assistant","addon":true}]