adhan-and-dua/flow.json
[{"id":"54ddfb96673fad14","type":"ha-time","z":"f2f6400639b3f6f7","name":"Asr time","server":"7bcc703.228999","version":4,"exposeAsEntityConfig":"","entityId":"sensor.asr_prayer","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"fajr","propertyType":"msg","value":"false","valueType":"bool"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":100,"y":300,"wires":[["d5702d79da25f686"]]},{"id":"3632765096a79e6a","type":"ha-time","z":"f2f6400639b3f6f7","name":"Fajr time","server":"7bcc703.228999","version":4,"exposeAsEntityConfig":"","entityId":"sensor.fajr_prayer","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"fajr","propertyType":"msg","value":"true","valueType":"bool"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":100,"y":180,"wires":[["d5702d79da25f686"]]},{"id":"551af8b2a40fa43e","type":"ha-time","z":"f2f6400639b3f6f7","name":"Duhr time","server":"7bcc703.228999","version":4,"exposeAsEntityConfig":"","entityId":"sensor.dhuhr_prayer","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"fajr","propertyType":"msg","value":"false","valueType":"bool"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":100,"y":240,"wires":[["d5702d79da25f686"]]},{"id":"8a8459d39fee8385","type":"ha-time","z":"f2f6400639b3f6f7","name":"Isha time","server":"7bcc703.228999","version":4,"exposeAsEntityConfig":"","entityId":"sensor.isha_prayer","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"fajr","propertyType":"msg","value":"false","valueType":"bool"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":100,"y":420,"wires":[["d5702d79da25f686"]]},{"id":"ce2f1b89af32c13f","type":"ha-time","z":"f2f6400639b3f6f7","name":"Maghrib time","server":"7bcc703.228999","version":4,"exposeAsEntityConfig":"","entityId":"sensor.maghrib_prayer","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"fajr","propertyType":"msg","value":"false","valueType":"bool"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":110,"y":360,"wires":[["d5702d79da25f686"]]},{"id":"a17b5e26590d36a8","type":"inject","z":"f2f6400639b3f6f7","name":"Manual trigger: Other Azans","props":[{"p":"fajr","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":480,"wires":[["d5702d79da25f686"]]},{"id":"eef51d5c207ddeec","type":"function","z":"f2f6400639b3f6f7","name":"Process Entry","func":"if (msg.currentIndex >= msg.playlist.length) {\n    node.log('Playlist complete');\n    return null;\n}\nlet entry = msg.playlist[msg.currentIndex];\nmsg.payload = `find \"${entry.folder}\" -type f -iname \"*${entry.pattern}*\"`;\nreturn msg;","outputs":1,"x":440,"y":260,"wires":[["df15bc9d22bc38e9"]]},{"id":"df15bc9d22bc38e9","type":"exec","z":"f2f6400639b3f6f7","command":"","addpay":"payload","append":"","useSpawn":"false","name":"Find Files","x":520,"y":380,"wires":[["8af09e330703c384"],[],[]]},{"id":"8af09e330703c384","type":"function","z":"f2f6400639b3f6f7","name":"Pick Random File","func":"let files = msg.payload.trim().split(\"\\n\");\nif (files.length === 0) {\n    node.warn(`No files found for pattern: ${msg.playlist[msg.currentIndex].pattern}`);\n    msg.currentIndex += 1;\n    return msg;\n}\nlet selected = files[Math.floor(Math.random() * files.length)];\nmsg.audio = {\n    fullPath: selected,\n    mediaSource: selected.replace(\"/media\", \"media-source://media_source/local\"),\n    ffprobeCmd: `ffprobe -i \"${selected}\" -show_entries format=duration -v quiet -of csv=\"p=0\"`\n};\nmsg.payload = msg.audio.ffprobeCmd;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":380,"wires":[["caa248ef5da70947"]]},{"id":"caa248ef5da70947","type":"exec","z":"f2f6400639b3f6f7","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"name":"Get Duration","x":670,"y":320,"wires":[["25c90d7618e7d83c"],[],[]]},{"id":"25c90d7618e7d83c","type":"function","z":"f2f6400639b3f6f7","name":"Set Delay & Play","func":"let dur = Math.ceil(parseFloat(msg.payload.trim()));\nmsg.delay = (dur + 3) * 1000;\nmsg.play_data = {\n    domain: \"media_player\",\n    service: \"play_media\",\n    data: {\n        entity_id: \"media_player.your_player\",\n        media_content_id: msg.audio.mediaSource,\n        media_content_type: \"music\"\n    }\n};\nreturn msg;","outputs":1,"x":690,"y":260,"wires":[["b940d72655e08cab","ab911fb313d06b1a","074c9b4c3550758b"]]},{"id":"074c9b4c3550758b","type":"api-call-service","z":"f2f6400639b3f6f7","name":"Play Azan","server":"6b1110b5.183a4","version":7,"debugenabled":false,"action":"media_player.play_media","floorId":[],"areaId":[],"deviceId":[],"entityId":["{{flow.spvar}}"],"labelId":[],"data":"msg.play_data.data","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"media_player","service":"play_media","x":1040,"y":240,"wires":[[]]},{"id":"ef7cced59dd2122c","type":"function","z":"f2f6400639b3f6f7","name":"Next Item","func":"let item = msg.playlist[msg.currentIndex];\nif (global.get('input_boolean.azan_playlist_stop') === 'on') return null;\n\nitem.currentRepeat += 1;\n\nif (item.currentRepeat < item.repeat) {\n    // Repeat current item\n    return msg;\n} else {\n    // Reset repeat counter and move to next item\n    item.currentRepeat = 0;\n    msg.currentIndex += 1;\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["eef51d5c207ddeec"]]},{"id":"b940d72655e08cab","type":"delay","z":"f2f6400639b3f6f7","name":"Wait for Duration","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":670,"y":180,"wires":[["1a5173c08c92fba6"]]},{"id":"d5702d79da25f686","type":"function","z":"f2f6400639b3f6f7","name":"Fajr or other?","func":"if (msg.fajr === true) {\n    msg.playlist = [\n        { folder: \"/media/Audio/Islamic/Azan/Fajr Azans/\", pattern: \"*.*\", repeat: 1, currentRepeat: 0 },\n        { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"After Azan\", repeat: 1, currentRepeat: 0 }\n    ];\n} else if (msg.fajr === false) {\n    msg.playlist = [\n        { folder: \"/media/Audio/Islamic/Azan/Other Azans/\", pattern: \"*.*\", repeat: 1, currentRepeat: 0 },\n        { folder: \"/media/Audio/Islamic/Dua or Part Quran\", pattern: \"After Azan\", repeat: 1, currentRepeat: 0 }\n    ];\n} else {\n    return null;  // Stop the flow\n}\n\nmsg.currentIndex = 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["eef51d5c207ddeec"]]},{"id":"5afe18070e361e50","type":"inject","z":"f2f6400639b3f6f7","name":"Manual trigger: Fajr Azans","props":[{"p":"fajr","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":120,"wires":[["d5702d79da25f686"]]},{"id":"e9f4f2de4cb73687","type":"start-up-trigger","z":"f2f6400639b3f6f7","x":120,"y":40,"wires":[["3fd35d02848c232a"]]},{"id":"3a7961817bd41460","type":"change","z":"f2f6400639b3f6f7","name":"Set speaker + vol","rules":[{"t":"set","p":"spvar","pt":"flow","to":"media_player.do_not_use_grouping_speakers","tot":"str"},{"t":"set","p":"spvolvar","pt":"flow","to":"0.40","tot":"num"}],"x":510,"y":40,"wires":[["e28cce2ead1a450d"]]},{"id":"e28cce2ead1a450d","type":"api-call-service","z":"f2f6400639b3f6f7","name":"Set Vol","server":"7bcc703.228999","version":7,"debugenabled":true,"action":"media_player.volume_set","floorId":[],"areaId":[],"deviceId":[],"entityId":["{{flow.spvar}}"],"labelId":[],"data":"{\"volume_level\":\"{{flow.spvolvar}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"media_player","service":"volume_set","x":680,"y":40,"wires":[["063589cfde7b5de0"]]},{"id":"3fd35d02848c232a","type":"delay","z":"f2f6400639b3f6f7","name":"Wait","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":290,"y":40,"wires":[["3a7961817bd41460"]]},{"id":"063589cfde7b5de0","type":"debug","z":"f2f6400639b3f6f7","name":"HA response","active":true,"console":"false","complete":"true","x":510,"y":80,"wires":[]},{"id":"ab911fb313d06b1a","type":"api-call-service","z":"f2f6400639b3f6f7","name":"Pause Apple TV","server":"6b1110b5.183a4","version":7,"debugenabled":false,"action":"media_player.media_pause","floorId":[],"areaId":[],"deviceId":[],"entityId":["media_player.living_room_apple_tv_2"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"media_player","service":"media_pause","x":880,"y":300,"wires":[[]]},{"id":"1a5173c08c92fba6","type":"api-call-service","z":"f2f6400639b3f6f7","name":"Play Apple TV","server":"6b1110b5.183a4","version":7,"debugenabled":false,"action":"media_player.media_play","floorId":[],"areaId":[],"deviceId":[],"entityId":["media_player.living_room_apple_tv_2"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"media_player","service":"media_play","x":900,"y":180,"wires":[["ef7cced59dd2122c"]]},{"id":"7bcc703.228999","type":"server","name":"Home Assistant","addon":true},{"id":"6b1110b5.183a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
