hijri-date/hijri-date-flow.json
[{"id":"86d1e229594e0378","type":"ha-time","z":"bc09882f.561de8","name":"Maghrib time","server":"7bcc703.228999","version":4,"entityId":"sensor.maghrib_prayer","offset":"0","offsetType":"num","offsetUnits":"minutes","repeatDaily":true,"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"ignorePastDate":false,"x":130,"y":420,"wires":[["6ec5986adfd1837c"]]},{"id":"6ec5986adfd1837c","type":"change","z":"bc09882f.561de8","name":"Day = +1","rules":[{"t":"set","p":"next_day","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"x":380,"y":420,"wires":[["a52cb0de0ca111a6"]]},{"id":"894d5890eac006ef","type":"inject","z":"bc09882f.561de8","name":"Reset at 12:00 AM","props":[],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["886e1d638ab9b3bb"]]},{"id":"886e1d638ab9b3bb","type":"change","z":"bc09882f.561de8","name":"Day = 0","rules":[{"t":"set","p":"next_day","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"x":380,"y":480,"wires":[["a52cb0de0ca111a6"]]},{"id":"d756fd242dd3532c","type":"change","z":"bc09882f.561de8","name":"Hijri day adjustment","rules":[{"t":"set","p":"hijri_adjustment","pt":"flow","to":"adjustment","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"x":350,"y":540,"wires":[["a52cb0de0ca111a6"]]},{"id":"a52cb0de0ca111a6","type":"function","z":"bc09882f.561de8","name":"Build Adjusted Date & URL","func":"// Read adjustment (days) from flow context\nconst adj = flow.get('hijri_adjustment') || 0;\n\n// Compute adjusted Gregorian date\nconst d = new Date();\nd.setDate(d.getDate() + adj);\n\n// Format DD-MM-YYYY\ntxtDay = String(d.getDate()).padStart(2,'0');\ntxtMon = String(d.getMonth()+1).padStart(2,'0');\ntxtYear = d.getFullYear();\nconst dateStr = `${txtDay}-${txtMon}-${txtYear}`;\n\n// Build API URL\nmsg.url = `https://api.aladhan.com/v1/gToH?date=${dateStr}`;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["6568fe7ebf5aea52"]]},{"id":"6568fe7ebf5aea52","type":"http request","z":"bc09882f.561de8","name":"Fetch Hijri Date","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","insecureHTTPParser":false,"x":760,"y":540,"wires":[["25d9d571b3cf9b6c"]]},{"id":"25d9d571b3cf9b6c","type":"function","z":"bc09882f.561de8","name":"Separate elements","func":"const hij = msg.payload.data.hijri;\n// Day, month, year\nmsg.payload = {\n  day: hij.day,\n  month: hij.month.en,\n  year: hij.year,\n  all: `${hij.day} ${hij.month.en} ${hij.year}`,\n  all_in_number: hij.date\n};\n// Store for other flows if needed\nglobal.set('hijri.day', hij.day);\nglobal.set('hijri.month', hij.month.en);\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["88bfff0840cc9e2a","eb63606494638cf6","02053510604ef261","e21f4218cf92ec0f","c24088882d6fb42a","4ce7c1031a7425f6"]]},{"id":"88bfff0840cc9e2a","type":"function","z":"bc09882f.561de8","name":"Set msg.payload","func":"msg.payload = msg.payload.all;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["43d934653233fb53"]]},{"id":"43d934653233fb53","type":"ha-api","z":"bc09882f.561de8","name":"Update HA Sensor","server":"7bcc703.228999","version":1,"protocol":"http","method":"post","path":"states/sensor.hijri_date","data":"{\"state\":\"{{payload}}\",\"attributes\":{\"icon\":\"mdi:calendar-refresh\",\"friendly_name\":\"Hijri Date\"}}","dataType":"json","responseType":"json","x":670,"y":700,"wires":[[]]},{"id":"7b38ac8bf4f75ef8","type":"server-state-changed","z":"bc09882f.561de8","name":"Hijri Date Adjustment Listener","server":"6b1110b5.183a4","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.adjust_hijri_days"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"adjustment","propertyType":"msg","value":"","valueType":"entityState"}],"x":160,"y":600,"wires":[["d756fd242dd3532c"]]},{"id":"02053510604ef261","type":"debug","z":"bc09882f.561de8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.all","targetType":"msg","statusVal":"payload","statusType":"auto","x":1230,"y":500,"wires":[]},{"id":"e21f4218cf92ec0f","type":"debug","z":"bc09882f.561de8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.day","targetType":"msg","statusVal":"payload","statusType":"auto","x":1230,"y":560,"wires":[]},{"id":"4ce7c1031a7425f6","type":"debug","z":"bc09882f.561de8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.year","targetType":"msg","statusVal":"payload","statusType":"auto","x":1240,"y":680,"wires":[]},{"id":"c24088882d6fb42a","type":"debug","z":"bc09882f.561de8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.month","targetType":"msg","statusVal":"payload","statusType":"auto","x":1240,"y":620,"wires":[]},{"id":"eb63606494638cf6","type":"debug","z":"bc09882f.561de8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.all_in_number","targetType":"msg","statusVal":"payload","statusType":"auto","x":1260,"y":440,"wires":[]},{"id":"7bcc703.228999","type":"server","name":"Home Assistant","addon":true},{"id":"6b1110b5.183a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
